.pics{
position: fixed;
left:0;
top:0;
width:500px ;
height:100%  ;
}

.module h3{ 
color:#247540;
position:relative;
top:0 !important;
border:solid #f61507 20px ;
margin-right:35px;
border-radius:25px;
font-size: 10vw !important; 
margin-top:-23%;
}

.module2 {
  max-width:100%;
  padding: 0;
  color: white;
  border-width: 5px;
  border-style: solid;
  border-image: 
  
    linear-gradient(
      to bottom, 
      #f6d70f, 
      rgba(12, 223, 13, 0.9)
    ) 1 40%;
}

.module2 h3{ 
color:#fff;
position:relative;
top:0 !important;
border:solid #f61507 5px ;
margin-right:0;
border-radius:25px;
font-size: 10vw !important; 
margin-top:0;
z-index:-1;
font-family: 'Courier New', monospace;
}

.module2 p::first-letter{
font-size: 40px !important; 
color:red; 
}



.search_pad{
height:55px;
width:100%;
border-radius:35px;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.92);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(19.6px);
-webkit-backdrop-filter: blur(19.6px);
border: 1px solid rgba(255, 255, 255, 0.89);
z-index:3 !important;
}

.search_pad .fa-magnifying-glass {
position:absolute ;
top:25px;
right:22px;
color:#0a88c8; 
}

.search_pad .fa-xmark{
position:absolute ;
top:25px;
right:75px;
color:#111; 

}

.vl {
  border-left: 2px solid green;
  height: 35px;
  position: absolute;
  top:10px;
  right:57px;
  
}

.search_pad p{
  padding-left:35px;
 text-align:left;
color:#111;
font-size: 20px;
font-weight:570 ;
}

.search_pad_find{
  margin: 0px;
  text-align:left;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.92);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(19.6px);
-webkit-backdrop-filter: blur(19.6px);
border: 1px solid rgba(255, 255, 255, 0.89);
line-height: 2.8;
}

.search_pad_find2{
  margin: 0px;
  padding: 40px;
  padding-top: 120px;
  text-align:left;
  font-size: 26px;
  background: rgba(255, 255, 255, 0.92);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(19.6px);
-webkit-backdrop-filter: blur(19.6px);
border: 1px solid rgba(255, 255, 255, 0.89);
line-height: 2.8;
border-radius:25px;
}

.search_pad_find2 img{
  position: absolute;
  top: -55px;
  left:-20px;
  width:160px ;
  height:160px;
  border-radius: 160px;
  border:solid #273d48 5px;
  object-fit: cover;
}

.search_pad_find2 h1{ 
color: #042637;
position: absolute;
  top: -20px;
  right:30%;
}




.more{
padding: 35px;
border: solid 2px rgb(5, 206, 58);
border-radius: 68px;
}






.ml11 {
  font-weight: 700;
  font-size: 3.5em;
  color: #111;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #111;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 40px;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}




.ml14 {
  font-weight: 200;
  font-size: 3.2em;
}

.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}











