/* body  {
    margin: 0;
   background-color: green;

}    */



body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
  
    }
  
  #title{
    background-color: #192534;
    color: #fff;
  
  }
  
  .container-fluid{
    padding: 3% 15%;
  }
  
  h1{
    font-weight: 900; /* Black */
    font-size: 3.5rem;
    line-height: 1.2;
  }
  
  h3 {
  font-weight: 800; /* Black */
  font-size: 1.5rem;
  margin-top: 1rem;
  
  }
  
  h2 {
    font-weight: 700; /* White */
    font-size: 2.7rem;
    line-height: 1.5;
  }
  
  p{
      color: #8f8f8f;
  }
  
  
  /* Navigation Bar */
  
  .navbar {
    padding: 0 0 4.5rem;
  }
  .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
      font-size: 2.5rem;
      font-weight: 700;
  }
  
  .nav-item {
    padding: 0 18px;
  
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
  
  }

  .h-btn a{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color: transparent;
}
.h-btn .sign-in{
    color: #ffffff;
    background: transparent;
    border-radius: 30px;
    padding: 14px;
    

}
.h-btn .sign-in:hover{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
    
}

  
  /* Download-Buttons */
  
  .dowload-button{
    margin: 5% 3% 5% 0;
  }
  
  /* Title-Image */
  
  .title-image {

    width: 100vh;
    transform: rotate(25deg);
  }
  
  /* Features Section */
  
  #features {
    padding: 7% 12%;
  
  }
  
  .feature-box {
    text-align: center;
    font-weight: 500;
    padding: 4.5%;
  }
  
  .icon {
    color: #ef8172;
    margin-bottom: auto;
  }
  
  .icon:hover {
    color: #ff4c68;
  }
  
  
  /* Testimonial Section */
  
  #testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
  }
  
  .testimonial-image {
    width: 10%;
   border-radius: 100%;
   margin: 20px;
  }
  
  /* carousel Section */
  .carousel-item{
    padding: 7% 15%;
  }
  
  /* Prees Section */
  
  #press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
  }
  
  .press-logo {
    width: 15%;
    margin: 20px 20px 50px;
  }
  
  .class-group {
    margin: 15% auto;
    }
  