body  {
    margin: 0;
   background-color: green;

}   
.headings{
    text-align: center;
    background-color:darkslategray;
    text-emphasis: none;
    text-transform: capitalize;
    text-shadow: 5px;
}
